package repository

// Repository define operaciones CRUD básicas de ejemplo para la capa de dominio.
type Repository interface {
	GetByID(id string) (string, error)
	Save(id string, value string) error
	Delete(id string) error
}
