package sqlx

import (
	"github.com/jmoiron/sqlx"

	repo "{{ module_path }}/internal/domain/repository"
)

// ExampleRepository implementa el contrato del repositorio con sqlx.
type ExampleRepository struct {
	db *sqlx.DB
}

func NewRepository(db *sqlx.DB) *ExampleRepository {
	return &ExampleRepository{db: db}
}

func (r *ExampleRepository) GetByID(id string) (string, error) {
	_ = id
	return "", nil
}

func (r *ExampleRepository) Save(id string, value string) error {
	_ = id
	_ = value
	return nil
}

func (r *ExampleRepository) Delete(id string) error {
	_ = id
	return nil
}

var _ repo.Repository = (*ExampleRepository)(nil)
